@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0%;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.outerContainer {
  padding: 1% 0%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}

.logo {
  width: 10%;
}

.pageInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.pagesRoutes {
  display: flex;
  gap: 10px;
}
.pagesRoutes > a {
  text-decoration: none;

  border-bottom: 2px solid transparent;
}

a:hover,
:link,
:visited {
  transition: 1s;
  color: whitesmoke;
  border-bottom-color: whitesmoke;
}
